<nav class="border-gray-200 bg-gray-800 dark:bg-gray-800 dark:border-gray-800">
  <div
    data-controller="menu-navbar"
    class="
      max-w-screen-3xl flex flex-wrap items-center justify-between mx-auto
      p-4
    "
  >
    <% if current_user %>
      <%= link_to user_contacts_path(current_user), class:"flex items-center space-x-3 rtl:space-x-reverse" do %>
                <% if params[:controller] == "groups" || (params[:controller] == "users" && params[:action] == "show") %>
          <i class="fa-solid fa-arrow-left-long fa-xl" style="color: white"></i>
        <% else %>
          <i class="fa-solid fa-shield-cat fa-2xl" style="color: white"></i>
        <% end %>

        <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">
          Real-time Chat
        </span>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class:"flex items-center space-x-3 rtl:space-x-reverse" do %>
        <i class="fa-solid fa-shield-cat fa-2xl" style="color: white"></i>

        <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">
          Real-time Chat
        </span>
      <% end %>
    <% end %>

    <!-- Button Abbreviation -->
    <%= content_tag(:button, data: {action: "click->menu-navbar#toggle"}, class: "inline-flex items-center justify-center text-sm text-gray-500 rounded-full hover:bg-gray-100 focus:outline-none focus:ring-0 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600") do %>
      <div
        class="avatar_navbar_circle hover:text-emerald-400"
        style="padding:5px; width:30px; height:30px"
      >
        <% if user_signed_in? %>
          <%= current_user.name.to_s[0].upcase || current_user.email.to_s[0].upcase %>
        <% else %>
          <svg
            class="mr-0 h-5 w-5 text-gray-400 hover:text-emerald-400"
            viewBox="0 0 20 20"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
              clip-rule="evenodd"
            />
          </svg>
        <% end %>
      </div>
    <% end %>

    <!-- End of Button Abbreviation -->
    <!-- Dropdown Menu -->
    <div
      class="hidden absolute right-0 w-56  divide-y  "
      id="navbarDrop"
      data-menu-navbar-target="menu"
      style="z-index: 90000; top: 70px; right: 5px"
    >
      <ul
        class="
          flex flex-col font-medium rounded-lg  dark:bg-gray-800
          
        "
      >
        <li>
          <% if current_user %>
              <%= button_to "Logout", destroy_user_session_path, method: :delete, class:"block py-3 px-3 cursor-pointer text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white w-full text-left" %>
            <li>
              <%= link_to "Edit Profile", edit_user_registration_path, class:"block py-3 pb-4 px-3 text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" %>
            </li>
          <% else %>
            <%= link_to "Register", new_user_registration_path, class: "block py-3 pb-4 px-3 text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" %>
            <%= link_to "Login", new_user_session_path, class: "block py-3 pb-4 px-3 text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" %>
          <% end %>
        </li>
      </ul>
    </div>

    <!-- End of Dropdown Menu -->
  </div>
</nav>
